.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}
.left{
    float: left;
}
.form{
    clear: both;
    height: auto;
    

}
.lebel{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 25px;
}
.input{
    padding: 8px;
}
.input input, .input select{
    padding: 4px;
    width: 250px;
    height: 30px;
    border-radius: 2px;
}
.input textarea{
    padding: 4px;
    height: 50px;
    width: 250px;
    border-radius: 2px;
}
.input .btn{
    padding: 5px;
    background-color: aquamarine;
}
.radio{
    height: 10;
    padding: 4px;
    font-size: 25px;
}