.box{
    width: 200px ;
    height:150px ;
    border: 5px solid rgb(70, 30, 30);
    color: brown;
    font-size: 17px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(204, 204, 250);
    box-shadow: 5px;


}
img{
    width: 70px;
    height: 100px;
    border-radius: 5px;
}